.Accordion{
  width:100%;

}
.accordion-button:not(.collapsed)
{
  background: #0d0a3f !important;
  color: white !important;
}
/* .accordion-item:first-of-type .accordion-button */
/* .accordion-button:not(.collapsed) {
  border-top-left-radius: none; 
  border-top-right-radius:none;
} */

.accordion-item
{
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: none !important;
}

.accordion-button:focus
{
  z-index: 3;
  border-color: #0d0a3f !important;
  outline: 0;
  box-shadow:none !important;
}
.accordion
{
  margin:50px 0px;
}
.accordion-body
{
  text-align: justify;
  font-size:17px;
}
.faqTitle
{
  color:#0d0a3f;
  text-align: left;
  font-weight:600;
}