.homeBanner {
  align-items: space-between;
  display: flex;
  padding-left: 5%;
  width: 100%;
}

.homeBanner-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2.5% 0;
  text-align: justify;
  width: 45%;
  margin-right: 5%;
}

.homeBanner-logo {
  width: 40%;
}

.homeBannerPara {
  font-weight: 600;
  color: #7a7777;
  font-size: 25px;
}

.homeBanner-button {
  background: #0d0a3f;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  padding: 15px 30px;
}
.benefitsImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
p,
span {
  font-size: large;
}

.homeBanner-image-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.homeBanner-image {
  width: 100%;
}

p,
span {
  font-size: large;
  color: black;
}

* {
  font-family: "Gill Sans", sans-serif;
  color: #000;
  letter-spacing: 1px !important;
}

/* about */
.about-sub {
  width: 100%;
  display: flex;
}
.about-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about-right {
  width: 50%;
  text-align: left;
}
.about-image {
  width: 80%;
  height: 300px;
}
.about-heading {
  font-weight: bold;
}
.about-paragraph {
  text-align: left;
  margin: 60px 0;
  color: #000;
}

.about {
  align-items: space-between;
  background: #fafafb;
  display: flex;
  padding: 5% 0;
  width: 100%;
}

.home-sign-up-button {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 20rem;
  padding: 10px;
}

.home-button {
  background: #0d0a3f;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  outline: none;
  padding: 20px 40px;
}

.sign-up-container {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding-top: 2%;
  width: 80%;
}

/* premium-features */
.premiumcontainer {
  width: 80% !important;
}
.premium-features {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
}

.premium-features-heading {
  color: #0d0a3f;
  font-weight: 800;
  text-align: center;
  margin: 0 5%;
  font-size: 40px;
}

.cards-container {
  display: flex;
  padding: 5%;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.card-minimal {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 15px 20px 40px 20px;
  width: 40%;
  margin: 20px 0;
}

.premium-feature-icon {
  background: #e9e7ec;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 10px;
}

.premium-feature-text-container {
  width: 80%;
}

.premium-feature-heading {
  color: #0d0a3f;
  font-size: large;
  text-align: left;
  font-weight: 700;
}

.premium-feature-description {
  color: #666;
  text-align: left;
  font-weight: normal;
  margin-top: 1rem;
}

.premium-features-sign-up {
  height: 100%;
  padding: 1% 20px;
  width: fit-content;
  font-size: 16px;
}

/* descriptive-paragraph */
.descriptive-paragraph-image {
  width: 330px;
}

.descriptive-paragraph {
  align-items: center;
  background: #0d0a3f;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 2% 7.5%;
  margin: 5% 0;
}

.description-para {
  color: #fff;
  text-align: justify;
}

.descriptive-paragraph-image {
  height: 15rem;
  width: 20rem;
}

/* why-section */
.why-heading {
  font-weight: 800;
  text-align: center;
  font-size: 40px;
  color: #0d0a3f;
}

.card-why {
  border-left: 4px solid #0d0a3f;
  text-align: justify;
}

/* benefits-section */
.benefits-section {
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3% 0 3% 2.75%;
}

.benefits-heading {
  color: #0d0a3f;
  font-weight: 700;
  text-align: left;
  margin-bottom: 2rem;
}

.benefit {
  color: grey;
  text-align: left;
}

.benefit-list-image {
  height: 1.5rem;
  margin-right: 0.5rem;
  width: 1.5rem;
}

.benefits-tablet {
  width: 400px;
}

.benefitsSection {
  background: #fafafb;
}

/* benefits-section */
.revamp-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5%;
  text-align: center;
}

.revamp-heading {
  color: #0d0a3f;
  font-weight: 800;
  text-align: center;
  padding: 0 40px;
}

.revamp-semi-heading {
  color: grey;
  padding: 0 15%;
}

.revamp-paragraph {
  color: grey;
  text-align: justify;
}
/* improvement-tips */
.improvement-tips {
  align-items: center;
  background: #fafafb;
  display: flex;
  justify-content: space-around;
  padding: 2% 4% 2% 5%;
  text-align: justify;
}
.improvement-tips-text-container {
  color: #0d0a3f;
}
.sign-up-container {
  align-items: center;
  display: flex;
  gap: 2rem;
  padding-top: 2%;
}
.improvement-tip-heading {
  font-weight: 800;
  color: #0d0a3f;
  text-align: left;
  font-size: 28px;
  margin-bottom: 20px;
}
.improvement-tip-paragraph {
  color: #0d0a3f;
  text-align: justify;
}
.improvement-tips-image {
  width: 100%;
}
.improvementbottomText {
  font-weight: bold;
  margin-bottom: 20px;
}

/* pre-footer   */
.pre-footer {
  align-items: center;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2% 4%;
  text-align: center;
}
.pre-footer-heading {
  font-weight: 800;
  color: #0d0a3f;
  text-align: center;
  letter-spacing: initial;
  font-size: 40px;
}
.pre-footer-paragraph {
  font-size: 25px;
  padding: 0 8%;
  color: grey;
}
.pre-footer-sign-up {
  flex-direction: column;
  gap: 0;
}
